{% extends 'base.html' %}
{% block title %}Tag: {{ tag_name }}{% endblock %}
{% block body %}
<ul class="nav justify-content-center" style="padding-top: 1em;">
  <li class="nav-item">
    <a class="btn btn-primary" href="{{ url_for('index') }}">Home</a>
  </li>
  <li class="nav-item">
    <div class="btn btn-disagle">{{ tag }}</div>
  </li>
</ul>
{% for note in notes %}
<div class="card my-3">
  <div class="card-body">
    <h4 class="card-title">{{ note.title }}</h4>
    <div class="card-text my-3">
      {{ note.description }}
    </div>
    <div class="card-footer text-muted">
      Tags: 
      {% for t in note.tags %}
        <a href="{{ url_for('tags_view', tag_name=t.name) }}">{{ t.name }}</a>,
      {% endfor %}
      <br>
      Last update: {{ note.updated_date }}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

